
###                                               Car Price Prediction With Machine Learning

In [43]:
#importing basic libraries

import numpy as np
import pandas as pd

In [44]:
#reading the dataset

data=pd.read_csv('car.csv')

In [45]:
data.sample(5)

,name,company,year,Price,kms_driven,fuel_type
721,Maruti Suzuki Zen Estilo LXI Green CNG,Maruti,2009,"1,25,000",00 kms,Petrol
673,Maruti Suzuki Ertiga LDi,Maruti,2013,"4,75,000","48,000 kms",Diesel
145,Volkswagen Polo,Volkswagen,2014,"2,74,999","32,000 kms",Petrol
312,Honda City,Honda,2011,"2,84,999","55,000 kms",Petrol
470,Maruti Suzuki Swift Dzire Tour VXi,Maruti,2011,"2,30,000",65 kms,Petrol

#### Now we have Raw Data and we have to process it

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [47]:
backup=data.copy()

In [48]:
#cheking for Null Values

data.isna().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [49]:
#removing the Null data

data=data[~data['fuel_type'].isna()]

In [50]:
#reseting the index after droping

data.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
832,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"2,70,000","50,000 kms",Petrol
833,Tata Indica V2 DLE BS III,Tata,2009,"1,10,000","30,000 kms",Diesel
834,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
835,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
836,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel

In [51]:
#There is some non-year in 'year' column so we have to remove them

data=data[data['year'].str.isnumeric()]

In [52]:
#Lets make 'year' int as it is neumeric data

data['year']=data['year'].astype(int)

In [53]:
#there is some 'ask for price' in 'price' column so we have to remove them 

data=data[data['Price']!="Ask For Price"]

In [54]:
#to remove ',' from price and make it int 

data['Price']=data['Price'].str.replace(',','').astype(int)

In [55]:
#we have to remove ',' & 'kms' from 'kms_driven' column 

data['kms_driven']=data['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [56]:
# we've to remove 'petrol' from 'kms_driven' column & make it int

data=data[data['kms_driven'].str.isnumeric()]
data['kms_driven']=data['kms_driven'].astype(int)

In [57]:
#the car names are too big we should take only the first 3 words from that

data['name']=data['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [58]:
data

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [60]:
#restetting the indexes again

data.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [61]:
#statistical analysis

data.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [62]:
#outlier removal

data=data[data['Price']<6e6].reset_index(drop=True)
data

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

#### Now we have clean data

In [63]:
#make separate input and output data colums

x=data.drop(columns='Price')
y=data['Price']

In [64]:
# differentiate training and testing data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [65]:
y_train.head()

582     315000
480     135000
770    2900000
783     300000
748     599999
Name: Price, dtype: int32

#### making the data ready for machine

In [66]:
#'name','company','fuel_type' columns are categorical so we need to make them neumeric

from sklearn.preprocessing import OneHotEncoder,StandardScaler
oh=OneHotEncoder()
oh.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [67]:
from sklearn.compose import make_column_transformer
column_trans= make_column_transformer((OneHotEncoder(categories=oh.categories_),['name','company','fuel_type']),
                                     remainder='passthrough')

#### applying the models

In [68]:
from sklearn.linear_model import BayesianRidge,LinearRegression,LogisticRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [69]:
import math
from sklearn.pipeline import make_pipeline

In [70]:
#random forest regressor

rfr=RandomForestRegressor()
pipe=make_pipeline(column_trans,rfr)
pipe.fit(x_train,y_train)
y_pred_rfr=pipe.predict(x_test)
r1=r2_score(y_test,y_pred_rfr)
r1

0.7506932612349508

In [71]:
#gradient boosting regressor

gbr=GradientBoostingRegressor(random_state=0)
pipe=make_pipeline(column_trans,gbr)
pipe.fit(x_train,y_train)
y_pred_gbr=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_gbr)
r2

0.6888417844730829

In [72]:
#XGB regressor

xgbr=XGBRegressor()
pipe=make_pipeline(column_trans,xgbr)
pipe.fit(x_train,y_train)
y_pred_xgbr=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_xgbr)
r2

0.7611819509030793

In [73]:
#cat boost regressor

cbr=CatBoostRegressor(verbose=0)
pipe=make_pipeline(column_trans,cbr)
pipe.fit(x_train,y_train)
y_pred_cbr=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_cbr)
r2

0.7450798636074681

In [74]:
#lgbm regressor

lgbm=LGBMRegressor()
pipe=make_pipeline(column_trans,lgbm)
pipe.fit(x_train,y_train)
y_pred_lgbm=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_lgbm)
r2

0.6483253971113093

In [75]:
#linear regression

lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred_lr=pipe.predict(x_test)
r2=r2_score(y_test,y_pred_lr)
r2

0.7521116082708684

In [80]:
#let's run XGBRegression for 50 times and store the highest scores

score=[]
for i in range(50):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    xgbr=XGBRegressor()
    pipe=make_pipeline(column_trans,xgbr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [81]:
score[np.argmax(score)]

0.887748087736036

In [84]:
#saving according to the best item

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(score))
xgbr=XGBRegressor()
pipe=make_pipeline(column_trans,xgbr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.887748087736036

#### testing our model prediction

In [85]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],
            columns=['name','company','year','kms_driven','fuel_type'])) 

# original ans is 530000

array([538705.3], dtype=float32)

In [88]:
pipe.predict(pd.DataFrame([['Ford Figo','Ford',2014,175000,'Diesel']],
            columns=['name','company','year','kms_driven','fuel_type'])) # original ans is 400000

array([372975.78], dtype=float32)

#### Saving the model

In [89]:
import pickle

In [90]:
pickle.dump(pipe,open('quikr.pkl','wb'))

## Thank You